.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-container .card {
  height: 120px;
  width: 130px;
  background-color: var(--light-gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 0.7rem;
  font-weight: 600;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 40px;
}

.pj-card {
  background-color: var(--light-gray);
  border-radius: 20px;
}

.pj-content {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pj-card h6 {
  font-size: 1.1rem;
  font-weight: 800;
  margin-top: 10px;
}

.pj-content p {
  font-size: 0.8rem;
  color: #adabab;
}

.tech-stack {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.tech-stack button {
  width: max-content;
  padding: 10px;
  border-radius: 30px;
  background: linear-gradient(
    to bottom right,
    var(--rich-gold),
    var(--rich-gold-light)
  );
  border: none;
  font-weight: 600;
  font-size: 0.7rem;
}

.pj-links {
  margin-top: 10px;
  display: flex;
  /* justify-content: center; */
  gap: 40px;
}

.pj-links a {
  display: block;
  background: linear-gradient(
    to bottom right,
    var(--rich-gold),
    var(--rich-gold-light)
  );
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  font-weight: 600;
}

.pj-links a:hover {
  box-shadow: 1px 1px 5px var(--rich-gold-light);
}

.pj-links a i {
  margin-right: 5px;
}
