.container {
  /* height: max-content */
  /* border: 1px solid red; */
  padding: 10px;
  margin-top: 20px;
}

.container h3 {
  color: var(--rich-gold);
  font-size: 1.5rem;
  margin-bottom: 15px;
  /* font-weight: 700; */
}

.container article {
  width: 100%;
  background-color: var(--light-gray);
  padding: 25px 30px;
  border: 1px solid rgba(212, 175, 55, 0.2);
  border-radius: 15px;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #adabab;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.container article:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 35px rgba(212, 175, 55, 0.1);
  border-color: #d4af37;
}

.edu-card {
  background-color: var(--light-gray);
  padding: 25px 30px;
  border: 1px solid rgba(212, 175, 55, 0.2);
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.edu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 35px rgba(212, 175, 55, 0.1);
  border-color: #d4af37;
}

.edu-card h6 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.edu-card p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.edu-card :nth-child(2) {
  color: var(--rich-gold);
}

.edu-card :nth-child(3) {
  color: #adabab;
}
