.header-container {
  min-height: 40vh;
  background: linear-gradient(to right, var(--dark-navy), #4860a4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 2px solid #adabab;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 50px;
}

.img-div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--rich-gold);
  box-shadow: 1px 1px 5px var(--rich-gold-light);
}

.img-div img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: contain;
}

.header-container h1 {
  font-weight: 900;
  font-size: 2.1rem;
}

.header-container h2 {
  font-weight: 300;
  font-size: 1.2rem;
}

.user-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
}

.user-links a {
  display: block;
  padding: 15px;
  border: 1px solid #adabab;
  border-radius: 30px;
  background-color: var(--light-gray);
  color: whitesmoke;
  text-decoration: none;
}

.user-links a i {
  margin-right: 8px;
}

@media screen and (max-width: 1315px) {
  .user-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    align-items: start;
  }
}

@media screen and (max-width: 882px) {
  .user-links {
    display: grid;
    grid-template-columns: 1fr;
  }
}
