body {
  background-color: var(--dark-navy);
  color: aliceblue;
}

.main-container {
  min-height: 100vh;
  width: 70%;
  background-color: var(--dark-gray);
  border: 2px solid var(--light-gray);
  border-radius: 5px;
  margin: 0px auto;
  padding: 30px;
}

@media screen and (max-width: 882px) {
  .main-container {
    min-width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    min-width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
